.ylh-icon { display: inline-block; flex: none; width: 1em; height: 1em; vertical-align: middle; }
.ylh-icon-source { background-color: currentColor; mask-repeat: no-repeat; mask-position: center; mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: contain; }
